*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color:white;
    height: 100vh;
    padding-top: 60px; /* Adjust based on nav height */

}
nav{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1000;
    
}

h1 {
    margin: 0;
    font-size: 30px;
    color: white;
}

.nav-links {
    text-align: right;

}
.home-link {
    text-decoration: underline;
    color: white;
    font-size: 18px;
    margin-left: 20px;
    transition: color 0.3s;
}
.home-link:hover {
    color: #ff6347;
}

a:hover {
    color: palegreen;
}
a {
    transition: 0.4s;
}
.active{
    border-bottom: 2px solid white;
}
a:hover{
    color: yellow;
}
.active{
    color: green;
}

